{{if _full}}
<!DOCTYPE html>
<html>

    <head>
    	<meta charset="UTF-8">
    	<title>Avlan: {{title}}</title>
    	<meta name="description" content="Avlan: Orchestration made simple">
    	<meta name="author" content="Artur Stachecki">
    	<link rel="shortcut icon" href="../img/favicon.ico">
    	<link rel="stylesheet" type="text/css" href="../../css/dark.css">
    	<script src="../../js/common.js"></script>
    	<script src="../../js/spin.js"></script>
        <script src="../../js/main.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="content">
				{{endif}}
                <div class="modal-content" {{if _full}}style="opacity: 1"{{endif}}>
                    <form class="modal-form">
                        <div class="line">
                            <label for="name">{{name}}</label>
                            <div class="input">
                                <input type="text" size="30" id="name" value={{_node.name}} disabled>
                            </div>
                        </div>
                        <div class="line">
                            <label for="ipAddress">{{ipAddress}}</label>
                            <div class="input">
                                <input type="text" size="30" id="ipAddress" value={{_node.ipAddress}} disabled>
                            </div>
                        </div>
                        <div class="line">
                            <div class="section">
                                <input value="{{vlans_interface}}" disabled>
                            </div>
                        </div>
                        <div class="line">
                            <label for="interface">{{interface}}</label>
                            <div class="input">
                                <select id="interface">
                                    {{for _interface in _interfaces}}
                                        <option value="{{_interface.id}}">{{_interface.ifaceIndex}}</option>
                                    {{endfor}}
                                </select>
                            </div>
                        </div>
                        <div class="line">
                            <label for="vlans">{{vlans}}</label>
                            <div class="table">
                                <table id="vlans">
                                </table>
                            </div>
                        </div>
                        <div class="line">
                            <div class="section">
                                <input value="{{interfaces_vlan}}" disabled>
                            </div>
                        </div>
                        <div class="line">
                            <label for="vlan">{{vlan}}</label>
                            <div class="input">
                                <select id="vlan">
                                    {{for _vlan in _vlans}}
                                        <option value="{{_vlan.id}}">{{_vlan.number}} {{if _vlan.name}} ({{_vlan.name}}) {{endif}}</option>
                                    {{endfor}}
                                </select>
                            </div>
                        </div>
                        <div class="line">
                            <label for="interfaces">{{interfaces}}</label>
                            <div class="table">
                                <table id="interfaces">
                                </table>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="button" class="modal-button modal-close">
                                <span class="action-text">{{close}}</span>
                            </button>
                        </div>
                    </form>
                </div>
                <script type="text/javascript" id="modalscript">
                    NodeDetails(this);
                </script>
				{{if _full}}
            </div>
        	<div class="modal-overlay"></div>
        </div>
    </body>
</html>
{{endif}}
