<div class="modal-content">
    <form class="modal-form">
        <div class="line">
            <label for="name">Name</label>
            <div class="input">
                <input type="text" size="260" id="name" value="{{name}}"" disabled>
            </div>
        </div>
        <div class="line">
            <label for="ipAddress">IP Address</label>
            <div class="input">
                <input type="text" size="260" id="ipAddress" value="{{ip}}" disabled>
            </div>
        </div>
        <div class="line">
            <label for="command">Command</label>
            <div class="input">
                <input type="text" size="260" id="command" value="{{command}}" disabled>
            </div>
        </div>
        <div class="line">
            <label for="output">Output</label>
            <div class="input">
                <textarea rows="20" cols="80" id="output" disabled="">{{output}}</textarea>
            </div>
        </div>
    </form>
</div>