{{if _full}}
<!DOCTYPE html>
<html>

    <head>
    	<meta charset="UTF-8">
    	<title>Avlan: {{title}}</title>
    	<meta name="description" content="Avlan: Orchestration made simple">
    	<meta name="author" content="Artur Stachecki">
    	<link rel="shortcut icon" href="../img/favicon.ico">
    	<link rel="stylesheet" type="text/css" href="../css/dark.css">
    </head>

    <body>
        <div class="container">
            <div class="content">
				{{endif}}
                <div class="modal-content" {{if _full}}style="opacity: 1"{{endif}}>
                    {{if error}}
                    <div class="notification error">{{error}}</div>
                    {{endif}}
                    {{if message}}
                    <div class="notification message">{{message}}</div>
                    {{endif}}
                    <form class="modal-form">
                        <button type="button" class="modal-button modal-close">
                            <span class="action-text">{{close}}</span>
                        </button>
                    </form>
                </div>
				{{if _full}}
            </div>
        	<div class="modal-overlay"></div>
        </div>
        <script src="../js/spin.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>
{{endif}}
