{{if _full}}
<!DOCTYPE html>
<html>

    <head>
    	<meta charset="UTF-8">
    	<title>Avlan: {{title}}</title>
    	<meta name="description" content="Avlan: Orchestration made simple">
    	<meta name="author" content="Artur Stachecki">
    	<link rel="shortcut icon" href="../img/favicon.ico">
    	<link rel="stylesheet" type="text/css" href="../css/dark.css">
    </head>

    <body>
        <div class="container">
            <div class="content">
				{{endif}}
        		<ul class="tiles">
                    <li class="tile-static modal-trigger" data-link="/config/create">
                        <div class="front">
						    <div class="icon icon-plus"></div>
        				    <div class="title">
                                <a href="#">{{create}}</a>
                            </div>
                        </div>
                    </li>
                    <li class="tile-static modal-trigger" data-link="/config/import">
                        <div class="front">
						    <div class="icon icon-plus"></div>
        				    <div class="title">
                                <a href="#">{{_import}}</a>
                            </div>
                        </div>
                    </li>
                    {{for config in _configs}}
        			<li class="tile">
                        <div class="front">
						    <div class="icon icon-settings {{if config.active}}active{{endif}}"></div>
        				    <div class="title">{{config.title}}</div>
                        </div>
                        <div class="back hidden">
                            <ul class="tile-nav">
                                <li class="tile-link modal-trigger" data-link="/config/{{config.id}}/load">
                                    <div class="tile-icon icon-person"></div>
                                    <a href="#">Load</a>
                                </li>
                                <li class="tile-link modal-trigger" data-link="/config/{{config.id}}/run">
                                    <div class="tile-icon icon-play"></div>
                                    <a href="#">{{run}}</a>
                                </li>
                                <li class="tile-link">
                                    <div class="tile-icon icon-settings"></div>
                                    <a href="/config/{{config.id}}/download">Download</a>
                                </li>
                                <li class="tile-link modal-trigger" data-link="/config/{{config.id}}/delete">
                                    <div class="tile-icon icon-bin"></div>
                                    <a href="#">{{delete}}</a>
                                </li>
                            </ul>
                        </div>
        			</li>
                    {{endfor}}
        		</ul>
				{{if _full}}
            </div>
        	<div class="modal-overlay"></div>
        </div>
        <script src="../js/spin.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>
{{endif}}
