[Unit]
Description=Dockerized nginx-proxy
After=docker.service
BindsTo=docker.service
Conflicts=shutdown.target reboot.target halt.target
 
[Service]
Environment=APP='avlan-nginx'
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10
 
EnvironmentFile=-/etc/sysconfig/avlan.conf
 
WorkingDirectory=$WORKING_DIRECTORY
 
ExecStartPre=-/usr/bin/docker-compose -f docker-compose.yml kill $APP
ExecStartPre=-/usr/bin/docker-compose -f docker-compose.yml rm $APP
ExecStartPre=-/usr/bin/docker-compose -f docker-compose.yml rm -f $APP
 
ExecStart=/usr/bin/docker-compose -f docker-compose.yml up --force-recreate --no-deps $APP
 
ExecStop=/usr/bin/docker-compose -f docker-compose.yml stop $APP
 
NotifyAccess=all
 
[Install]
WantedBy=multi-user.target
